{% extends "base.html" %} {% block title %}About Us{% endblock %} {% block
content %}
<h1>About Us</h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">About Our Project</h5>
    <p class="card-text">
      Welcome to our web application for brain tumor segmentation. Our team is
      dedicated to developing advanced machine learning models to assist in
      medical imaging and diagnosis.
    </p>
    <p class="card-text">
      Our mission is to leverage the power of artificial intelligence to improve
      healthcare outcomes and provide accurate and efficient tools for medical
      professionals.
    </p>
    <p class="card-text">
      We are a team of passionate individuals from the Indian Institute of
      Technology Ropar, working together to make a difference in the field of
      medical technology.
    </p>
  </div>
</div>
{% endblock %}
