{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 class="page-header">Brain Tumor Segmentation</h1>
<div class="row justify-content-center">
  <div class="col-md-12 text-center">
    <p>Please select a folder to upload:</p>
  </div>
  <div class="col-md-12 text-center">
    <label for="folderInput" class="btn btn-secondary">Upload Folder</label>
    <input
      type="file"
      id="folderInput"
      webkitdirectory
      directory
      multiple
      class="form-control d-none"
    />
    <button id="uploadButton" class="btn btn-primary ml-2">Convert</button>
    <button id="startAnalysisButton" class="btn btn-success ml-2">
      Start Analysis
    </button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <p id="fileListMessage" class="d-none">List of files inside the folder:</p>
    <ul id="fileList" class="list-group"></ul>
  </div>
</div>

<!-- New Image Cards Layout -->
<div class="row mt-5">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <div class="image-box" id="originalImage1">Original Image 1</div>
        <p class="text-center">Original Image 1</p>
      </div>
    </div>
    <!-- <div class="card mb-3">
      <div class="card-body">
        <div class="image-box" id="originalImage2">Original Image 2</div>
        <p class="text-center">Original Image 2</p>
      </div>
    </div> -->
    <!-- <div class="card mb-3">
      <div class="card-body">
        <div class="image-box" id="originalImage3">Original Image 3</div>
        <p class="text-center">Original Image 3</p>
      </div>
    </div> -->
    <!-- <div class="card mb-3">
      <div class="card-body">
        <div class="image-box" id="originalImage4">Original Image 4</div>
        <p class="text-center">Original Image 4</p>
      </div>
    </div> -->
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <div class="image-box" id="processedImage1">Processed Image 1</div>
        <p class="text-center">Processed Image 1</p>
      </div>
    </div>
    <!-- <div class="card mb-3">
      <div class="card-body">
        <div class="image-box" id="processedImage2">Processed Image 2</div>
        <p class="text-center">Processed Image 2</p>
      </div>
    </div> -->
    <!-- <div class="card mb-3">
      <div class="card-body">
        <div class="image-box" id="processedImage3">Processed Image 3</div>
        <p class="text-center">Processed Image 3</p>
      </div>
    </div> -->
    <!-- <div class="card mb-3">
      <div class="card-body">
        <div class="image-box" id="processedImage4">Processed Image 4</div>
        <p class="text-center">Processed Image 4</p>
      </div>
    </div> -->
  </div>
</div>

<!-- Existing Functionality -->
<div id="images" class="mt-3"></div>
{% endblock %}
