<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/static/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Brain Tumor Segmentation</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-5 content">
      <h1>Team</h1>
      <p><strong>Data Scientist:</strong> Maninder Kaur (2023CSZ0015)</p>
      <p><strong>ML Engineer:</strong> Amit Kumar (2023CSZ0012)</p>
      <p><strong>Backend Engineer:</strong> Suresh (2024CSZ0009)</p>
      <p><strong>Software Engineer:</strong> Nishchala Thakur (2024CSZ0005)</p>
      <p><strong>Data Engineer:</strong> Anjani Gupta (2023CSZ0013)</p>
    </div>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted"
          >©2024, encodedcoder (Suresh) and Team<br />Indian Institute of
          Technology Ropar</span
        >
      </div>
    </footer>
  </body>
</html>
